version: "3.5"

services:

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.2
    container_name: elasticsearch
    restart: unless-stopped
    ports:
    - "9200:9200"
    - "9300:9300"
    environment:
      cluster.name: docker-es-cluster
      discovery.type: single-node
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
    healthcheck:
      test: "curl -f http://localhost:9200 || exit 1"
    ulimits:
      memlock:
        soft: -1
        hard: -1

#  kibana:
#    image: docker.elastic.co/kibana/kibana-oss:6.2.1
#    container_name: kibana
#    restart: unless-stopped
#    ports:
#    - "5601:5601"
#    environment:
#      ELASTICSEARCH_URL: http://elasticsearch:9200
#    healthcheck:
#      test: "curl -f http://localhost:5601 || exit 1"