<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product-UI</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        body { display: flex; min-height: 100vh; flex-direction: column; }
        main { flex: 1 0 auto; }
    </style>
</head>

<body>

<div th:insert="~{fragments/header :: header}"></div>

<main>
    <div class="container">
        <h5>Something went wrong!</h5>
        <table class="striped responsive-table">
            <tbody>
            <tr>
                <td>Date</td>
                <td th:text="${timestamp}"></td>
            </tr>
            <tr>
                <td>Status</td>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <td>Error</td>
                <td th:text="${error}"></td>
            </tr>
            <tr>
                <td>Message</td>
                <td th:text="${message}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>