<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Product-UI</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<nav>
    <div class="nav-wrapper light-blue darken-3">
        <div class="row">
            <div class="col s6">
                <label class="brand-logo center">Product-UI</label>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="section">
        <h5>Details</h5>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s4">
                        <input id="id" type="text" th:value="${product.id}" disabled>
                        <label for="id">Id</label>
                    </div>
                    <div class="col s8">
                        <label>Categories</label>
                        <div class="chips inline"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input id="reference" type="text" th:value="${product.reference}" disabled>
                        <label for="reference">Reference</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="name" type="text" th:value="${product.name}" class="validate">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="price" type="number" th:value="${product.price}" class="validate">
                        <label for="price">Price (€)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description" th:text="${product.description}"
                                  class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light right" type="submit" name="action" disabled>Save
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<script th:inline="javascript">
/*<![CDATA[*/
document.addEventListener('DOMContentLoaded', function() {
  var product = /*[[${product}]]*/;
  var categoriesLength = product.categories.length;
  var categories = [];
  for (var i = 0; i < categoriesLength; i++) {
    categories.push({
      tag: product.categories[i]
    });
  }

  var chipsElems = document.querySelectorAll('.chips');
  var instances = M.Chips.init(chipsElems, {
    data: categories
  });
});
/*]]>*/

</script>

</body>
</html>