<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Create Product | Product-UI</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>

  <body>
    <div th:insert="~{fragments/header :: header}"></div>

    <nav
      class="grey lighten-2"
      style="height: 40px; line-height: 40px; margin-bottom: 0"
    >
      <div
        class="nav-wrapper container"
        style="height: 40px; line-height: 40px"
      >
        <div class="col s12">
          <a th:href="@{/}" class="breadcrumb grey-text text-darken-3">Home</a>
          <a class="breadcrumb grey-text text-darken-3">Create Product</a>
        </div>
      </div>
    </nav>

    <main>
      <div class="container">
        <div class="section">
          <h5>Create Product</h5>
          <div class="row">
            <form
              class="col s12"
              th:action="@{/products}"
              th:object="${productDto}"
              method="post"
              onsubmit="return beforeSubmit()"
            >
              <div class="row">
                <div class="col s12">
                  <div class="chips"></div>
                  <input
                    id="categories"
                    type="hidden"
                    th:field="*{categories}"
                  />
                </div>
              </div>
              <div class="row">
                <div
                  class="input-field col s9"
                  th:classappend="${#fields.hasErrors('name')} ? 'has-error' : ''"
                >
                  <input
                    id="name"
                    type="text"
                    th:field="*{name}"
                    class="validate"
                    required
                  />
                  <label for="name">Name</label>
                  <span
                    class="helper-text red-text"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}"
                    >name error</span
                  >
                </div>
                <div
                  class="input-field col s3"
                  th:classappend="${#fields.hasErrors('price')} ? 'has-error' : ''"
                >
                  <input
                    id="price"
                    type="number"
                    th:field="*{price}"
                    min="0"
                    step="any"
                    class="validate"
                    required
                  />
                  <label for="price">Price (€)</label>
                  <span
                    class="helper-text red-text"
                    th:if="${#fields.hasErrors('price')}"
                    th:errors="*{price}"
                    >price error</span
                  >
                </div>
              </div>
              <div class="row">
                <div
                  class="input-field col s12"
                  th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''"
                >
                  <textarea
                    id="description"
                    th:field="*{description}"
                    class="materialize-textarea"
                    required
                  ></textarea>
                  <label for="description">Description</label>
                  <span
                    class="helper-text red-text"
                    th:if="${#fields.hasErrors('description')}"
                    th:errors="*{description}"
                    >description error</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col s12" style="margin-top: 20px">
                  <button
                    class="btn waves-effect waves-light blue darken-3"
                    type="submit"
                  >
                    <i class="material-icons left">save</i> Save
                  </button>
                  <a
                    class="btn waves-effect waves-light grey"
                    th:href="@{/products}"
                  >
                    <i class="material-icons left">cancel</i> Cancel
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <div th:insert="~{fragments/footer :: footer}"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script th:inline="javascript">
      document.addEventListener("DOMContentLoaded", function () {
        var chipsElems = document.querySelectorAll(".chips");
        var chipsInstances = M.Chips.init(chipsElems, {
          placeholder: "Category",
          secondaryPlaceholder: "+category",
          data: [
            {
              tag: "laptops",
            },
          ],
          autocompleteOptions: {
            data: {
              laptops: null,
              apple: null,
              microsoft: null,
              dell: null,
              acer: null,
              asus: null,
              toshiba: null,
            },
            limit: Infinity,
            minLength: 1,
          },
        });

        beforeSubmit = function () {
          var chipElems = document.querySelectorAll(".chip");
          var categories = [];
          for (var i = 0; i < chipElems.length; i++) {
            categories.push(chipElems[i].firstChild.nodeValue);
          }
          document.getElementById("categories").value = categories;
          return true;
        };
      });
    </script>
  </body>
</html>
