<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<nav>
    <div class="nav-wrapper light-blue darken-3">
        <div class="row">
            <div class="col s6">
                <label class="brand-logo center">Products</label>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Search</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="highlight">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${products.content.empty}">
                    <td colspan="3"> No Products Available</td>
                </tr>
                <tr th:id="${product.id}" th:each="product : ${products.content}">
                    <td><span th:text="${product.name}"> Name </span></td>
                    <td><span th:text="${product.description}"> Description </span></td>
                    <td><span th:text="${product.price}"> Price </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>