<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header>
    <nav>
        <div class="nav-wrapper light-blue darken-3">
            <div class="container">
                <a th:href="@{/}" class="brand-logo center">Product-UI</a>
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>